[mysqld]
server-id = 2
default-time-zone = '+09:00'

# GTID
gtid_mode = ON
enforce-gtid-consistency = ON
log-bin = /var/lib/mysql/mysql-bin
log-bin-index = /var/lib/mysql/mysql-bin.index
binlog-format = ROW

# Slow query
slow_query_log = 1
long_query_time = 1
log_output = TABLE

read-only = 1
